<h3>Select a Universe</h3>

{{#each universes}}
<div class="card">
    <h5 class="card-header">{{univName}}</h5>
    <div class="card-body">
        <p class="card-text">{{univDescription}}</p>
        <a href="/manageuniverse/{{universeID}}" class="btn btn-primary">Select Universe</a>
    </div>
</div>
{{/each}}
